main	{
    margin: 10vh auto;
	width: 80vw;
	max-width: 1200px;
}

p {
	margin-bottom: 48px;
}

.buttons {
	width: 80vw;
	margin: 10px 0 50px 0;
}

textarea {
    width: 80vw;
    max-width: 1200px;
}

#black	{
	font-size: 36pt;
	font-family: "Summer of '81 Black", serif;
}

#outlines {
	font-size: 36pt;
	font-family: "Summer of '81 Outlines", serif;
}

@font-face {
	font-family: "Summer of '81 Black";
	src: url("../fonts/Retro-Black.otf");
}

@font-face {
	font-family: "Summer of '81 Outlines";
	src: url("../fonts/Retro-Outlines.otf");
}