#buttons {
	width: 80vw;
	margin: 10px 0 0 10vw;
}

#font {
	width: 80vw;
	margin-left: 10vw;
	margin-top: 45vh;
	font-size: 24pt;
	font-family: "Retro", serif;
}

@font-face {
	font-family: "Retro";
	src: url("/fonts/Retro-Black.otf");
}